.footer {
  display: flex;
  justify-content: center;
  background: #E9EBEB;
  .container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 28px 165px;
    align-items: center;

    .options {
      display: flex;
      align-items: center;
      gap: 48px;

      .links {
        display: flex;
        align-items: flex-start;
        gap: 48px;

        .link {
          text-decoration: none;
          color: #333;
          font-size: 16px;
          font-weight: 500;
          line-height: 140%;
        }
      }
      .button{
        cursor: pointer;
        display: flex;
        width: 40px;
        height: 40px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 100px;
        border: 1px solid #828282;
      }
    }
  }
}




