.contact {
  display: flex;
  justify-content: center;
  background: #FAFAFA;

  .container {
    max-width: 1440px;
    width: 100%;
    display: inline-flex;
    padding: 120px 165px;
    justify-content: space-between;
    flex-wrap: wrap;

    .text {
      display: flex;
      flex-direction: column;
      max-width: 540px;
      width: 100%;
      gap: 36px;

      .title {
        color: #333;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
        align-self: stretch;
        margin: 0;
      }

      .description {
        margin: 0;
        align-self: stretch;
        color: #514E4E;
        font-size: 16px;
        font-weight: 400;
        line-height: 165%;
      }

      .ourContact {
        display: flex;
        p{
          display: flex;
          align-items: center;
          margin: 0;
          gap:16px;
          color: #333;
          font-size: 16px;
          text-transform: lowercase;
          a{
            color: #514E4E;
          }
        }
        flex-direction: column;
        gap: 24px;
      }
    }

    .form {
      display: flex;
      max-width: 475px;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;
    }
  }
}