.main {
  display: flex;
  justify-content: center;

  .container {
    max-width: 1440px;
    width: 100%;
    padding: 140px 165px 0;
    display: flex;
    gap: 10%;

    .titleContainer {
      display: flex;
      max-width: 380px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;



      .link {
        display: flex;
        align-items: center;
        color: #514E4E;
        text-decoration: none;
        gap: 16px;

        .button {
          border: 1px solid #E75934;
          cursor: pointer;
          display: flex;
          width: 40px;
          height: 40px;
          padding: 8px;
          border-radius: 100px;
        }
      }

    }

    .options {
      scroll-behavior: smooth;
    }
  }
}