.homePage{
  height: 100vh;
  z-index: -1;
  .description{
    top:200px;
    left: 165px;
    display: flex;
    width: 598px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    h1{
      color:#333;
      font-family: Monument Extended;
      font-size: 40px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%;
      text-transform: uppercase;
    }
  }

}