.clients {
  display: flex;
  justify-content: center;
  background: #FAFAFA;
  .container{
    max-width: 1440px;
    width: 100%;

    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding: 30px 165px;

    .description {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      .quantity {
        color: #333333;
        font-size: 36px;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
      }

      .text {
        display: flex;
        align-items: center;
        max-width: 236px;
        color: #333;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
  }
}