.card {
    display: flex;
    max-width: 350px;
    padding: 36px 30px;
    flex-direction: column;
    gap: 16px;
    text-decoration: none;
    color: #514E4E;

    border-radius: 12px;
    background: #F7F9FB;
}
