.container {
  position: relative;
  display: flex;
  justify-content: center;
}

.button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  .icon{
    stroke:#514E4E;
    &:hover{
      stroke:#E75934;
    }
  }
}

.list {
  display: inline-flex;
  position: absolute;
  top: 35px;
  list-style: none;
  margin: 0;
  gap: 12px;
  border: none;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0 20px 40px 0 rgba(189, 189, 189, 0.10);
  font-size: 16px;
}

.list li {
  cursor: pointer;
  &:hover{
    color: #E75934;
  }
}

