.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 28px 165px;
  background:transparent;
  .options{
    display: flex;
    align-items: center;
    gap: 48px;
    .links{
      display: flex;
      align-items: flex-start;
      gap: 48px;
      .link {
        text-decoration: none;
      }
    }
  }
}




