@mixin button(
  $background,
  $activeBackground,
  $hoverBackground,
  $disabledBackground
) {
  cursor: pointer;


  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;

  padding: 16px 40px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;

  background: #E75934;
  border: none;

  &:hover {
    background: #F16B48;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    background: $disabledBackground;
  }

  &:active:enabled {
    background: $activeBackground;
  }
}
.link,
.primary {
  @include button(
                  #E75934,
                  #E54D24,
                  #F16B48,
                  #EC957E
  );

}


.fullWidth {
  width: 100%;
}
